<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=GBK">
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/demo-customizations.css">
  <link rel="stylesheet" type="text/css" href="static/css/wrapper.css">
  <link rel="stylesheet" type="text/css" href="static/css/write.css">


  <link rel="stylesheet" type="text/css" href="static/simplemde/simplemde.min.css" />
  <link rel="stylesheet" type="text/css" href="static/buttons/css/buttons.css" />

  <script type="text/javascript" src="static/simplemde/simplemde.min.js"></script>


</head>

<body>
    {% include 'header.html' %}
    <form name="article"  class="write" method="post" action="write">
        <div class="form-group">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title">
        </div>
        <textarea id="markdown" data-autosave="editor-content" autofocus name="content">
            {% if html %}
                {{ html }}
            {% else %}
                start from here
            {% endif %}
        </textarea>
        <br>
        <div class="display">
            <input type="text" class="form-control" name="tag" id="tag" placeholder="Tag">
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control" name="category" id="category" placeholder="Category">
        </div>
        <button type="submit" class="button button-pill button-flat-primary">Submit</button>
    </form>
    <script>
        new SimpleMDE({
            element: document.getElementById("markdown"),
            spellChecker: false,
			autofocus: true,
			tabSize: 4,
        });
        </script>
    </script>
</body>
</html>
